@font-face {
  font-family: DoDavidRegular;
  src: url(./fonts/DoDavidGothicRegular.ttf);
}

@font-face {
  font-family: Hilda;
  src: url(./fonts/HildaSonnenschein.ttf);
}

@font-face {
  font-family: Frik;
  src: url(./fonts/Frik.ttf);
}

:root {
  --lightest: hsl(69, 69%, 90%);
  --lighter: hsl(38, 72%, 17%);
  --light: hsl(44, 49%, 16%);
  --normal: hsl(51, 64%, 6%);
  --dark: hsl(93, 48%, 9%);
  --darker: hsl(35, 63%, 5%);
  --darkest: hsl(80, 53%, 3%);
  --complement: hsl(100, 77%, 10%);
  --complement-light: hsl(76, 74%, 42%);
}
html,
body {
  margin: 0;
  font-family: Frik, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background-color: #f5f5f5;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}

.app {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

@keyframes header-move {
  from {
    top: calc(-1 * (1rem + 3vw));
  }

  to {
    top: 0;
  }
}

header {
  background-color: var(--normal);
  padding: 0px;
  height: 100px;
  color: var(--lightest);
  border-bottom: 1px solid var(--lightest);
}

nav .icon {
  display: none;
}

nav ul {
  position: relative;
  animation-name: header-move;
  animation-duration: 1s;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
  align-items: center;
}

nav li {
  padding: 12px;
  width: calc(76px - 2rem);
  margin: 1rem;
  height: calc(76px - 2rem);
  border-radius: 100%;
  font-size: 2rem;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
}

nav li:hover {
  background-color: var(--lighter);
}

nav li:before {
  content: "";
  position: absolute;
  inset: -8px;
  padding: 5px;
  border-radius: 50%;
  background: conic-gradient(
    var(--complement-light),
    #0000 30deg 120deg,
    var(--lightest) 150deg 180deg,
    #0000 210deg 300deg,
    var(--complement-light) 330deg
  );
  -webkit-mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: intersect;
}
nav li:after {
  content: "";
  position: absolute;
  inset: -10px;
  background: radial-gradient(
      200px at left 400px top 150px,
      var(--complement-light) 100%,
      #0000
    ),
    radial-gradient(
      200px at right 400px bottom 150px,
      var(--lightest) 100%,
      #0000
    );
  filter: blur(120px);
  opacity: 0.5;
}

nav li:before,
nav li:after {
  transition: 0.5s, 99999s 99999s transform;
}
nav li:hover {
  box-shadow: 0 0 0 1px #666;
}

nav li:hover:before,
nav li:hover:after {
  transform: rotate(36000deg);
  transition: 0.5s, 600s linear transform;
}
nav li:before {
  background-color: #222;
  border: 2px solid #333;
}

nav a {
  color: var(--lightest);
  text-decoration: none;
}

nav li p {
  position: relative;
}

@media screen and (max-width: 600px) {
  @keyframes header-open {
    from {
      height: 80px;
    }

    to {
      height: 400px;
    }
  }

  @keyframes header-close {
    from {
      height: 400px;
    }

    to {
      height: 100px;
    }
  }

  @keyframes links-open {
    from {
      top: -320px;
    }

    to {
      top: 0px;
    }
  }

  @keyframes links-close {
    from {
      top: 0px;
      opacity: 1;
    }

    to {
      top: -320px;
      opacity: 0;
    }
  }

  header.responsive {
    animation-name: header-open;
    animation-duration: 1s;
    height: 400px;
  }
  header.opened:not(.responsive) {
    animation-name: header-close;
    animation-duration: 1s;
  }
  nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
  }
  nav .icon {
    float: right;
    display: block;
  }
  nav a {
    display: none;
  }
  nav ul.responsive {
    animation-name: links-open;
    animation-duration: 1s;
    width: 100%;
    height: 100%;
    display: relative;
    flex-direction: column;
    justify-content: flex-start;
  }
  nav ul.opened:not(.responsive) {
    animation-name: links-close;
    animation-duration: 1s;
  }

  nav ul.responsive a {
    display: block;
  }

  nav ul.closing {
    width: 100%;
    height: 100%;
    display: relative;
    flex-direction: column;
    justify-content: flex-start;
  }

  nav ul.closing a {
    display: block;
  }
}

/* Home page styles */
@keyframes hero-zoom-in {
  0% {
    background-size: 1939px 1294px;
  }
  100% {
    background-size: 1920px 1281px;
  }
}

.hero {
  height: calc(100vh - 101px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  animation-name: hero-zoom-in;
  animation-duration: 1s;
}
.hero-text {
  margin-left: calc(1rem + 3vw);
  width: 760px;
  color: var(--lightest);
  position: absolute;
}

@keyframes brand-move {
  from {
    left: calc(-1 * (1rem + 3vw));
  }

  to {
    left: 0;
  }
}

@keyframes quote-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero-text h1 {
  position: relative;
  left: 0px;
  font-size: 15rem;
  font-family: DoDavidRegular;
  margin-bottom: 1rem;
  animation-name: brand-move;
  animation-duration: 1s;
}
.hero-text .quote {
  width: calc(100%-6rem);
  text-align: right;
  font-size: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
  animation-name: quote-fade;
  animation-duration: 5s;
}
.hero-text .quote p {
  font-family: Frik;
}

.indent-text {
  margin-left: 4rem;
  margin-right: 4rem;
}

@media screen and (max-width: 960px) {
  .hero {
    background-position: 1200px 0px;
  }
}

@media screen and (max-width: 890px) {
  .hero {
    padding-top: 80px;
    align-items: flex-start;
  }

  .hero-text {
    width: 600px;
  }

  .hero-text h1 {
    font-size: 10rem;
  }
  .hero-text .quote {
    font-size: 2rem;
    width: calc(100%-1rem);
  }
}

@media screen and (max-width: 652px) {
  .hero-text {
    width: 500px;
  }
  .hero-text h1 {
    font-size: 8.5rem;
  }
  .hero-text .quote {
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 602px) {
  .hero {
    margin: 0px;
    justify-content: center;
  }
  .hero-text {
    width: 100%;
    margin: 5px;
  }
  .hero-text h1 {
    margin-left: 20px;
  }
}

@media screen and (max-width: 490px) {
  .hero-text h1 {
    font-size: 6rem;
  }
  .hero-text .quote {
    font-size: 1.2rem;
  }
  .indent-text {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

/* Services page styles */
.services h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.service {
  margin-bottom: 30px;
}

.icon {
  font-size: 2rem;
  margin-right: 10px;
}

/* Contact page styles */
.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

/* AboutUs.css */

.about-us {
  padding: 40px;
  background-color: #f8f8f8;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

.about-content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 20px;
}
